<%= form_for @employer,html:{class: 'form-horizontal'} do |f| %>
<% if @employer.errors.any? %>
  <div class="alert alert-danger">
    <a class="close" data-dismiss="alert">&#215;</a>
    <ul>
      <% @employer.errors.full_messages.each do |msg| %>
        <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= f.text_field :name ,class: 'input-xlarge',placeholder: 'Name'%>
  <%= f.text_field :location ,class: 'input-xlarge',placeholder: 'Location'%>
  <%= f.label :gender, "Male", :value => "true",class: 'control-label'  %>
  <%= f.radio_button :gender, true %>
  <%= f.label :gender, "Female", :value => "false",class: 'control-label' %>
  <%= f.radio_button :gender, false, :checked => true %>
  <%= f.fields_for :phone do |phone_field| %>
  <%=phone_field.text_field :phone,class: 'input-xlarge',placeholder: 'Phone' %>
  <%end%>
  <%=f.fields_for :email do |email_field| %>
  <%=email_field.text_field :email,class: 'input-xlarge',placeholder: 'Email' %>
  <%end%>
  <% if action_name == 'new' or action_name == 'create' %>
  <%= f.password_field :password ,class: 'input-xlarge',placeholder: 'Password'%>
  <%= f.password_field :password_confirmation ,class: 'input-xlarge',placeholder: 'Password Confirmation'%>
  <%= f.submit "Login" ,class: "login loginmodal-submit"%>
  <% else %>
   <%= hidden_field_tag 'id',@employer.id%>
   <%= f.submit "Update" ,class: "login loginmodal-submit"%>
  <%end%>

<% end %>
